* {
  margin: 0;
  padding: 0;
  color: orangered;
  box-sizing: border-box;
  font-family: "gstatic", sans-serif;
  text-decoration: none;
}

.body {
  background: black;
  width: 100%;
  height: 200px;
}

.P1 {
  background-color: yellow;
  width: 100%;
  height: 750px;
}
