* {
  margin: 0;
  padding: 0;
  color: orangered;
  box-sizing: border-box;
  font-family: "gstatic", sans-serif;
  text-decoration: none;
}

.p1 {
  background-color: orange;
  width: auto;
  height: 1000px;
}
