* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: "gstatic", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  width: auto;
  height: 100px;
  background-color: orangered;
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: burlywood;
  width: auto;
  height: 200px;
}

.headertekst {
  background-color: brown;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}

.p1 {
  background-color: orange;
  width: auto;
  height: 1000px;
}
